$color--text--light-primary: #FFFFFF;
$color--text--light-secondary: #CECECE;
$color--text--dark-primary: #242424;

$color--background--light-primary: #FFFFFF;
$color--background--dark-primary: #1D2532;
$color--background--dark-secondary: #323E51;

$font--primary: "Inter", sans-serif;
$font--secondary: "GTWalsheimPro", sans-serif;