@use '../../styles/variables';

.section-advantages {
  background-color: variables.$color--background--light-primary;

  &__title {
    position: relative;
    z-index: 1;
    text-align: center;
    color: variables.$color--text--light-primary;
  }

  &__container {
    margin: 195px 0;
    padding: 6.8vw 16.5vw 7.7vw 16.5vw;
    border-radius: 20px;
    background: linear-gradient(212.69deg, variables.$color--background--dark-secondary 4.9%, variables.$color--background--dark-primary 55.16%);
    box-sizing: border-box;
  }

  &__list {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    grid-template-rows: repeat(auto-fill, minmax(310px, auto));
    gap: 75px 45px;
    margin-top: 65px;
    list-style-type: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px;
    border-radius: 20px;
    background-color: #333E51B2;

    &:after {
      content: '';
      position: absolute;
      bottom: -18px;
      height: 18px;
      width: 260px;
      border-radius: 0 0 20px 20px;
      background-color: #333E5199;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 117px;
    height: 117px;

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 117px;
      height: 117px;
      border-radius: 50%;
      background-color: #ffc252;
      filter: blur(10px);
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text {
    margin-top: 22px;
    font-family: variables.$font--primary;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.7px;
    text-align: center;
    color: variables.$color--text--light-primary;
  }

  &__glow-1 {
    top: -5%;
    left: 65%;
    width: 440px;
    height: 440px;
    background: linear-gradient(170.98deg,rgba(95,56,255,.2509803922) 25.59%,rgba(255,14,222,.2509803922) 100.44%);
    transform: rotate(12deg);
    filter: blur(70px);
  }

  &__glow-2 {
    top: 57%;
    left: 0;
    width: 440px;
    height: 440px;
    background: linear-gradient(170.98deg,rgba(95,56,255,.2509803922) 25.59%,rgba(255,14,222,.2509803922) 100.44%);
    transform: rotate(12deg);
    filter: blur(70px);
  }

  &__glow-3 {
    top: -95px;
    right: 115px;
    width: 152px;
    height: 152px;
    border: 1px solid transparent;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%), 
    radial-gradient(91.49% 91.49% at 51.06% 8.51%, rgba(226, 193, 255, 0.53) 0%, rgba(133, 61, 242, 0.55) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform: rotate(-25deg);
  }

  &__glow-4 {
    top: 110px;
    left: 170px;
    width: 84px;
    height: 84px;
    border: 1px solid transparent;
    background: radial-gradient(63.25% 73.53% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%), 
    radial-gradient(77.5% 77.5% at 20.9% 14.08%, #5EFFDF 0%, rgba(7, 119, 241, 0.41) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform: rotate(7deg);
  }

  &__glow-5 {
    bottom: 125px;
    right: 160px;
    width: 131px;
    height: 131px;
    border: 1px solid transparent;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%), 
    radial-gradient(91.49% 91.49% at 51.06% 8.51%, rgba(226, 193, 255, 0.53) 0%, rgba(133, 61, 242, 0.55) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform: rotate(-25deg);
    filter: blur(10px);
  }

  @media (max-width: 1200px) {
  
    &__container {
      margin: 16vw 0;
      padding: 6.8vw 10vw 7.7vw 10vw;
      border-radius: 2vw;
    }
  
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(36vw, auto));
      grid-template-rows: repeat(auto-fill, minmax(28vw, auto));
      gap: 6vw 3vw;
      margin-top: 5vw;
    }
  
    &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 45px 20px;
      border-radius: 20px;
      background-color: #333E51B2;
  
      &:after {
        bottom: -2vw;
        height: 2vw;
        width: 24vw;
        border-radius: 0 0 2vw 2vw;
      }
    }
  
    &__image-wrapper {
      width: 8vw;
      height: 8vw;
  
      &:after {
        width: 8vw;
        height: 8vw;
        filter: blur(1vw);
      }
    }
  
    &__text {
      margin-top: 4vw;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.7px;
    }
  
    &__glow-1 {
      top: -5%;
      left: 65%;
      width: 36vw;
      height: 36vw;
      filter: blur(5vw);
    }
  
    &__glow-2 {
      top: 57%;
      left: 0;
      width: 36vw;
      height: 36vw;
      filter: blur(5vw);
    }
  
    &__glow-3 {
      top: -7vw;
      right: 9vw;
      width: 12vw;
      height: 12vw;
    }
  
    &__glow-4 {
      top: 7vw;
      left: 14vw;
      width: 6vw;
      height: 6vw;
    }
  
    &__glow-5 {
      bottom: 3vw;
      right: 3vw;
      width: 10vw;
      height: 10vw;
      filter: blur(1vw);
    }
  }

  @media (max-width: 767px) {
    &__container {
      margin: 22vw 0;
      padding: 12vw 9vw 40vw 9vw;
      border-radius: 6vw;
    }

    &__list {
      grid-template-columns: 100%;
      row-gap: 16vw;
      margin-top: 9vw;
    }

    &__item {
      padding: 15vw 6vw;
      border-radius: 6vw;
  
      &:after {
        bottom: -5vw;
        height: 5vw;
        width: 70vw;
        border-radius: 0 0 7vw 7vw;
      }
    }
  
    &__image-wrapper {
      width: 26vw;
      height: 26vw;
  
      &:after {
        width: 26vw;
        height: 26vw;
        filter: blur(4vw);
      }
    }
  
    &__text {
      margin-top: 7vw;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -0.7px;
    }
  
    &__glow-1 {
      top: -16vw;
      right: -8vw;
      left: auto;
      width: 60vw;
      height: 60vw;
      filter: blur(20vw);
    }
  
    &__glow-2 {
      display: none;
    }
  
    &__glow-3 {
      top: -16vw;
      right: -8vw;
      width: 26vw;
      height: 26vw;
    }
  
    &__glow-4 {
      top: 32vw;
      left: 6vw;
      width: 7vw;
      height: 7vw;
    }
  
    &__glow-5 {
      bottom: 6vw;
      right: 3vw;
      width: 20vw;
      height: 20vw;
      filter: blur(2vw);
    }
  }
}