@use '../../styles/variables';

.nav {

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 105px;
  }

  &__link {
    font-family: variables.$font--primary;
    font-size: 23px;
    font-weight: 400;
    color: variables.$color--text--light-secondary;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #C3F33B;
    }
  }

  @media (max-width: 1200px) {

    &__list {
      gap: 5vw;
    }
  
    &__link {
      font-size: 18px;
    }
  }

  @media (max-width: 767px) {

    &__list {
      gap: 5.5vw;
    }
  
    &__link {
      font-size: 23px;
    }
  }
}