@use '../../styles/variables';

.button {
  display: flex;
  justify-content: center;
  width: max-content;
  cursor: pointer;

  &_style {

    &_filled {
      border: none;
      font-family: variables.$font--secondary;
      font-weight: 500;
      color: variables.$color--text--dark-primary;
      background-image: linear-gradient(30deg, #1DD844, #CBF62E);
      box-shadow: 0 0 15px 0 #1dd845;
      transition: all 0.2s ease-out;
      
      &:focus {
        border: none;
      }

      &:hover {
        box-shadow: 0 0 25px 0 #1dd845;
      }
    }

    &_linear {
      border: 1px solid #FFFFFF;
      font-family: variables.$font--primary;
      font-weight: 500;
      color: variables.$color--text--light-primary;
      background-color: transparent;
      transition: all 0.2s ease-out;
      
      &:focus {
        border-color: #FFFFFF;
      }

      &:hover {
        border-color: #C3F33B;
        color: #C3F33B; 
      }

      &:active {
        background-color: #E0FFAC0D;
      }
    }
  }

  &_size {

    &_s {
      padding: 15px 22px;
      border-radius: 10px;
      font-size: 18px;
    }

    &_m {
      padding: 16px 22px;
      border-radius: 15px;
      font-size: 16px;
    }

    &_l {
      padding: 22px 30px;
      border-radius: 20px;
      font-size: 20px;
    }
  }

  &:focus {
    outline: none;
  }

  @media (max-width: 1200px) {

    &_style {

      &_filled {
        box-shadow: 0 0 1vw 0 #1dd845;

        &:hover {
          box-shadow: 0 0 2vw 0 #1dd845;
        }
      }
    }

    &_size {

      &_s {
        padding: 1vw 2vw;
        border-radius: 1vw;
        font-size: 16px;
      }

      &_m {
        padding: 1.2vw 2vw;
        border-radius: 1.2vw;
        font-size: 16px;
      }

      &_l {
        padding: 2vw 2.4vw;
        border-radius: 1.5vw;
        font-size: 18px;
      }
    } 
  }

  @media (max-width: 767px) {

    &_style {

      &_filled {
        box-shadow: 0 0 4vw 0 #1dd845;

        &:hover {
          box-shadow: 0 0 6vw 0 #1dd845;
        }
      }
    }

    &_size {

      &_s {
        padding: 5vw 6vw;
        border-radius: 3vw;
        font-size: 16px;
      }

      &_m {
        padding: 5vw 6vw;
        border-radius: 5vw;
        font-size: 16px;
      }

      &_l {
        padding: 5vw 6vw;
        border-radius: 5vw;
        font-size: 16px;
      }
    } 
  }
}