extends templates/default.pug 

block titleText
  | Шаблон

block fonts 
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet")

//- block styles

//- block scripts

block headerContent
  .container.header__container
    a.logo.header__logo(href="#")
      .glow.logo__glow

      svg.logo__text-icon(width="73" height="29" viewBox="0 0 73 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.5782 0V29H20.0937L3.89098 6.23047H3.60061V29H0V0H3.48446L19.7453 22.8262H20.0356V0H23.5782Z" fill="white")
        path(d="M29.5565 29V0H47.3853V3.11523H33.1571V12.9141H46.0496V16.0293H33.1571V29H29.5565Z" fill="white")
        path(d="M50.6995 3.11523V0H73V3.11523H63.65V29H60.0494V3.11523H50.6995Z" fill="white")

    nav.nav.header__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Главная

        li.nav__item
          a.nav__link(href="#advantages") Что даст обучение

    button.button.button_style_linear.button_size_m.button_action_login.header__login-button Личный кабинет

    .burger.header__burger.burger_action_menu
      svg.burger__icon(width="40" height="17" viewBox="0 0 40 17" fill="none" xmlns="http://www.w3.org/2000/svg")
        rect(y="0.199951" width="40" height="3" rx="1.5" fill="#FBF7FE")
        rect(y="13.2" width="40" height="3" rx="1.5" fill="#FBF7FE")

block mainContent
  section.section.section-hero 
    .container.section-hero__container 
      .section-hero__content-wrapper
        h1.title.section-hero__title.title_type_h1
          | Не упусти 
          br 
          | возможность войти
          br
          | в 
          span прибыльную нишу

        .section-hero__text 
          | Получи все нужные навыки для заработка 
          br
          | на NFT всего за 28 дней!

        button.button.section-hero__button.button_style_filled.button_size_l.button_action_order Начать зарабатывать на NFT

      .section-hero__media-wrapper
        img.section-hero__front-image(src="assets/images/hero-man.png" )

        img.section-hero__right-hand-item(src="assets/images/hero-money.png")

        img.section-hero__background-item-1(src="assets/images/hero-pig.png")

        img.section-hero__background-item-2(src="assets/images/hero-smile.png")

        img.section-hero__background-item-3(src="assets/images/hero-lightning-1.png")

        img.section-hero__background-item-4(src="assets/images/hero-lightning-2.png")

        .glow.section-hero__glow-middle

        .glow.section-hero__glow-man

    .glow.section-hero__glow-top

  section.section.section-advantages#advantages
    .container.section-advantages__container
      h2.title.section-advantages__title.title_type_h2 Что даст тебе обучение?
      
      ul.section-advantages__list
        li.section-advantages__item
          .section-advantages__image-wrapper
            img.section-advantages__image(src="assets/images/advantages-1.png")

          .section-advantages__text Откроешь свой первый криптокошелек и научишься с ним работать

        li.section-advantages__item
          .section-advantages__image-wrapper
            img.section-advantages__image(src="assets/images/advantages-2.png")

          .section-advantages__text Поймёшь, как выбирать правильные дропы

        li.section-advantages__item
          .section-advantages__image-wrapper
            img.section-advantages__image(src="assets/images/advantages-3.png")

          .section-advantages__text Построишь план по быстрому приумножению заработанных средств

        li.section-advantages__item
          .section-advantages__image-wrapper
            img.section-advantages__image(src="assets/images/advantages-4.png")

          .section-advantages__text Узнаешь кто такие холдеры и флипперы

      .glow.section-advantages__glow-1

      .glow.section-advantages__glow-2

      .glow.section-advantages__glow-3

      .glow.section-advantages__glow-4

      .glow.section-advantages__glow-5

//- block footerContent 

block hideContent
  dialog.modal.modal-order
    .modal-order__title.title.title_type_h2 Начни прямо сейчас!

    .modal-order__text Получи все нужные навыки для заработка на NFT всего за 28 дней!

    form.form.modal-order__form
      input.input.input_size_s.input_type_email.modal-order__input(type="email" placeholder="Ваш email" required)

      button.button.button_style_filled.button_size_s.modal-order__button(type="submit") Оплатить

    .close.close_size_s.modal-order__close.close_action_order
      svg.close__icon(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M14.1439 11.5L22.2064 3.45623C22.5594 3.10316 22.7578 2.6243 22.7578 2.12498C22.7578 1.62567 22.5594 1.1468 22.2064 0.793732C21.8533 0.440662 21.3744 0.24231 20.8751 0.24231C20.3758 0.24231 19.897 0.440662 19.5439 0.793732L11.5001 8.85623L3.45638 0.793732C3.10331 0.440662 2.62445 0.24231 2.12513 0.24231C1.62581 0.24231 1.14695 0.440662 0.79388 0.793732C0.44081 1.1468 0.242458 1.62567 0.242458 2.12498C0.242458 2.6243 0.44081 3.10316 0.79388 3.45623L8.85638 11.5L0.79388 19.5437C0.618139 19.718 0.47865 19.9254 0.383459 20.1539C0.288267 20.3824 0.239258 20.6275 0.239258 20.875C0.239258 21.1225 0.288267 21.3676 0.383459 21.5961C0.47865 21.8245 0.618139 22.0319 0.79388 22.2062C0.968185 22.382 1.17556 22.5215 1.40405 22.6167C1.63253 22.7118 1.87761 22.7609 2.12513 22.7609C2.37265 22.7609 2.61773 22.7118 2.84621 22.6167C3.0747 22.5215 3.28207 22.382 3.45638 22.2062L11.5001 14.1437L19.5439 22.2062C19.7182 22.382 19.9256 22.5215 20.154 22.6167C20.3825 22.7118 20.6276 22.7609 20.8751 22.7609C21.1227 22.7609 21.3677 22.7118 21.5962 22.6167C21.8247 22.5215 22.0321 22.382 22.2064 22.2062C22.3821 22.0319 22.5216 21.8245 22.6168 21.5961C22.712 21.3676 22.761 21.1225 22.761 20.875C22.761 20.6275 22.712 20.3824 22.6168 20.1539C22.5216 19.9254 22.3821 19.718 22.2064 19.5437L14.1439 11.5Z" fill="white")

    .glow.modal-order__glow

  dialog.modal.modal-menu
    a.logo.modal-menu__logo(href="#")
      .glow.logo__glow

      svg.logo__text-icon(width="73" height="29" viewBox="0 0 73 29" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.5782 0V29H20.0937L3.89098 6.23047H3.60061V29H0V0H3.48446L19.7453 22.8262H20.0356V0H23.5782Z" fill="white")
        path(d="M29.5565 29V0H47.3853V3.11523H33.1571V12.9141H46.0496V16.0293H33.1571V29H29.5565Z" fill="white")
        path(d="M50.6995 3.11523V0H73V3.11523H63.65V29H60.0494V3.11523H50.6995Z" fill="white")

    nav.nav.modal-menu__nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#") Главная

        li.nav__item
          a.nav__link(href="#advantages") Что даст обучение

    button.button.button_style_linear.button_size_m.button_action_login.modal-menu__login-button Личный кабинет

    .close.close_size_m.modal-menu__close.close_action_menu
      svg.close__icon(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M14.1439 11.5L22.2064 3.45623C22.5594 3.10316 22.7578 2.6243 22.7578 2.12498C22.7578 1.62567 22.5594 1.1468 22.2064 0.793732C21.8533 0.440662 21.3744 0.24231 20.8751 0.24231C20.3758 0.24231 19.897 0.440662 19.5439 0.793732L11.5001 8.85623L3.45638 0.793732C3.10331 0.440662 2.62445 0.24231 2.12513 0.24231C1.62581 0.24231 1.14695 0.440662 0.79388 0.793732C0.44081 1.1468 0.242458 1.62567 0.242458 2.12498C0.242458 2.6243 0.44081 3.10316 0.79388 3.45623L8.85638 11.5L0.79388 19.5437C0.618139 19.718 0.47865 19.9254 0.383459 20.1539C0.288267 20.3824 0.239258 20.6275 0.239258 20.875C0.239258 21.1225 0.288267 21.3676 0.383459 21.5961C0.47865 21.8245 0.618139 22.0319 0.79388 22.2062C0.968185 22.382 1.17556 22.5215 1.40405 22.6167C1.63253 22.7118 1.87761 22.7609 2.12513 22.7609C2.37265 22.7609 2.61773 22.7118 2.84621 22.6167C3.0747 22.5215 3.28207 22.382 3.45638 22.2062L11.5001 14.1437L19.5439 22.2062C19.7182 22.382 19.9256 22.5215 20.154 22.6167C20.3825 22.7118 20.6276 22.7609 20.8751 22.7609C21.1227 22.7609 21.3677 22.7118 21.5962 22.6167C21.8247 22.5215 22.0321 22.382 22.2064 22.2062C22.3821 22.0319 22.5216 21.8245 22.6168 21.5961C22.712 21.3676 22.761 21.1225 22.761 20.875C22.761 20.6275 22.712 20.3824 22.6168 20.1539C22.5216 19.9254 22.3821 19.718 22.2064 19.5437L14.1439 11.5Z" fill="white")