.close {
  cursor: pointer;

  &_size {

    &_s {

    }

    &_m {

    }
  }

  & path {
    transition: all 0.2s ease-out;
  }

  &:hover {

    .close__icon path {
      fill: #C3F33B;
    }
  }

  @media (max-width: 767px) {

    &_size {

      &_s {
        
        .close__icon {
          width: 5vw;
          height: auto;
        }
      }
  
      &_m {
        .close__icon {
          width: 7vw;
          height: auto;
        }
      }
    }
  }
}