@use '../../styles/variables';

.modal-order {
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670px;
  border: none;
  border-radius: 30px;
  background: radial-gradient(42.84% 203.07% at 15.58% -40.39%, #323E51 0%, #1D2532 100%);
  padding: 45px 120px 75px 65px;
  box-sizing: border-box;

  &__title {
    letter-spacing: -0.02em;
    color: variables.$color--text--light-primary;
  }

  &__text {
    margin-top: 30px;
    font-family: variables.$font--primary;
    font-size: 21px;
    font-weight: 300;
    line-height: 25px;
    color: variables.$color--text--light-primary;
  }

  &__form {
    margin-top: 30px;
  }

  &__input {
    width: 100%;
  }

  &__button {
    margin-top: 20px;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: 45px;
    right: 45px;
  }

  &__glow {
    z-index: -1;
    top: -100px;
    right: -100px;
    width: 424px;
    height: 424px;
    background: linear-gradient(170.98deg, rgba(195, 243, 58, 0.25) 25.59%, rgba(41, 209, 89, 0.25) 100.44%);
    transform: rotate(12deg);
    filter: blur(70px);
  }

  @media (max-width: 1200px) {
    width: 60vw;
    border-radius: 2.4vw;
    padding: 5vw 10vw 6vw 5vw;

    &__text {
      margin-top: 3vw;
      font-size: 18px;
      line-height: 20px;
    }

    &__form {
      margin-top: 3vw;
    }

    &__button {
      margin-top: 2vw;
    }

    &__close {
      top: 4vw;
      right: 4vw;
    }

    &__glow {
      top: -8vw;
      right: -8vw;
      width: 36vw;
      height: 36vw;
      filter: blur(5vw);
    }
  }

  @media (max-width: 767px) {
    width: 100vw;
    border-radius: 6vw;
    padding: 15vw 5vw 12vw 5vw;
    top: 41%;
    left: 0;
    transform: translate(0, -50%);

    &__text {
      margin-top: 6vw;
      font-size: 18px;
      line-height: 20px;
    }

    &__form {
      margin-top: 8vw;
    }

    &__button {
      margin-top: 6vw;
    }

    &__close {
      top: 8.5vw;
      right: 7.5vw;
    }

    &__glow {
      top: auto;
      bottom: -8vw;
      right: -8vw;
      width: 70vw;
      height: 70vw;
      filter: blur(15vw);
    }
  }
}