.header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;

  &__container {
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding: 31px 0;
  }

  &__logo {
    margin-right: auto;
  }

  @media (max-width: 1200px) {

    &__container {
      flex-direction: row;
      align-items: center;
      gap: 5vw;
      padding: 3vw;
    }
  }
}