.header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;

  &__container {
    flex-direction: row;
    align-items: center;
    gap: 150px;
    padding: 31px 0;
  }

  &__logo {
    margin-right: auto;
  }

  &__burger {
    display: none;
  }

  @media (max-width: 1200px) {

    &__container {
      flex-direction: row;
      align-items: center;
      gap: 5vw;
      padding: 3vw;
    }
  }

  @media (max-width: 767px) {

    &__container {
      flex-direction: row;
      align-items: center;
      gap: 0;
      padding: 8vw 5vw 8vw 6.5vw;
    }

    &__nav {
      display: none;
    }
    
    &__login-button {
      display: none;
    }

    &__burger {
      display: flex;
    }
  }
}