.modal-menu {
  border: none;
  background-color: #293344;

  &__close {
    position: absolute;
  }

  @media (max-width: 787px) {
    top: 0;
    left: 5vw;
    width: 95vw;
    border-radius: 0 0 0 8vw;
    padding: 9vw 7vw 18vw 6.5vw;
    box-sizing: border-box;

    &__nav {
      margin-top: 18vw;

      .nav__list {
        flex-direction: column;
      }
    }

    &__login-button {
      margin-top: 28vw;
    }

    &__close {
      top: 10vw;
      right: 9vw;
    }
  }
}